/* =Menu
----------------------------------------------- */

#site-navigation-select {

	text-align: center;
	font-size: 16px;
	padding: 1em;
	select { width: 100%; color: #3f3f3f; }

}

#site-navigation {


	border: 1px solid black;
	height: 50px;
	top: -15px;
	position: relative;
	
	// first level
	ul {
		list-style: none;
		padding-left: 0;
		padding: 1em 0;

		li {
			float: left;
			position: relative;
			padding: 0 1.25em;
			border-left: 1px solid black;
			
			&:first-child {
				border: none;
				padding-left: 0;
			}
			
			&:last-child {
				padding-right: 0;
			}

			a {
				display: block;
				text-decoration: none;
				color: #C0CAC0;
			}

			// link hover
			&:hover {
				> a { color: white; }
				> ul { display: block; }
			}

		}

		li.current_page_item, li.current-menu-item {
			a {}
		}

		// second level
		ul {
			@include drop-shadow();
			display: none;
			float: left;
			position: absolute;
				top: $vspacing;
				left: 0;
			z-index: 99999;

			&:hover {
				> a {};
			}

			li {
				a {
					width: 200px;
					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}
