@font-face {
	font-family: 'Orienta';
	font-style: normal;
	font-weight: 400;
	src: local('Orienta'), local('Orienta-Regular'), url(http://themes.googleusercontent.com/static/fonts/orienta/v1/nPJ0J30J_zQZtBhztPPbaA.woff) format('woff');
}